[requires]
python_version = "3.7"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[script]
dotter = "python bin/dotter"

[packages]
dotter = {editable = true, path = "."}

[dev-packages]
twine = "*"
