[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[script]
dotter = "python bin/dotter"

[requires]
python_version = "3.7"

[packages]
dotter = {editable = true,path = "."}
